.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hamburger {
  transform: scale(.5);
}

.title {
  margin: 16px;
  composes: clickable from global;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  composes: flex-row from global;
  justify-content: space-between;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  composes: flex-row from global;
  justify-content: space-between;
}

.imgInfo {
  margin: 16px;
}

.nav {
  margin: 16px;
  display: flex;
}

.navArrow {
  composes: clickable from global;
}

.links {
  margin: 16px;
  composes: clickable from global;
}

.sidebar {
  height: 100%;
  background-color: var(--light);
  color: var(--dark);
}