.sidebar {
    position: fixed;
    right: -320px;
    top: 0px;
    bottom: 0px;
    width: 320px;
    transition: right .3s;
    background-color: var(--light);
    z-index: 2;
}

.open {
    right: 0px;
}